@{
    ViewData["Title"] = "Ahorcado";
}
<body>
<header>
<p> Ahorcado </p> <p><a href = '@Url.Action("Index", "Home")'> Home </a> </p>
</header>

    <h2>PALABRA: @ViewBag.palabraMostrar</h2>
    <form action='@Url.Action("ArriesgarLetra", "Home")'>
    <label for="letraArriesgada">Arriesgar Letra</label><br>
    <input type="char" name="letraArriesgada" maxlength="1"/>
    <input type="submit" value="Enviar letra"/> 
    <p>Letras Utilizadas: @ViewBag.letrasUsadas</p>
    <img src="\img\INTENTOS\INTENTOS 0" alt= "Foto de pasos de ahorcado">

    <br> <br>
    </form>
    <form action='@Url.Action("ArriesgarPalabra", "Home")'>
    <label for="palabraArriesgada">Arriesgar Palabra</label><br>
    <input type="text" name="palabraArriesgada" maxlength="ViewBag.cantLetrasPalabra"/>
    <input type="submit" value="Enviar palabra"/>
</form>

@if (@ViewBag.intentos == 6)
{
    <p>Te quedaste sin intentos, estás obligado a arriesgar</p>
    <form action='@Url.Action("ArriesgarPalabra", "Home")'>
    <label for="palabraArriesgada">Arriesgar Palabra</label><br>
    <input type="text" name="palabraArriesgada" maxlength="ViewBag.cantLetrasPalabra"/>
    <input type="submit" value="Enviar palabra"/>
</form>
}

<footer>2025 - Ahorcado - Federico Ajami, Lucas Dorin y Tobías Nul - FeLuTo</footer>
</body>